<div class="mainContainer">
    <img class="homeImage" src="../../assets/homeImages/E-Book-home.jpg" alt="" />
    <div #bookHomeBody>
        <div class="gridContainer">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title class="cardTitle">Product Name</mat-card-title>
                </mat-card-header>
                <img
                    mat-card-image
                    src="../../assets/homeImages/E-Book-home.jpg"
                    alt="Product Image"
                />
                <mat-card-footer class="cardPrice">Rs-2000</mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
  
