<div>
  <app-customer-nav></app-customer-nav>
</div>
<div #bookOrderBody class="mainContainer">
  <div class="gridContainer">
    <div class="subHeading">Product Name</div>
    <div class="subHeading">Price</div>
    <div class="subHeading">Quantity</div>
    <div class="subHeading">Total Price</div>
  </div>
  <div class="itemContainer">
    <div class="items">Rich Dad Poor Dad</div>
    <div class="items">2000</div>
    <div class="items">20</div>
    <div class="items">20000</div>
  </div>
</div>
