<div #bookCartBody class="mainContainer">
  <div class="container">
    <div class="gridContainer">
      <div class="subHeading">Product Name</div>
      <div class="subHeading">Price</div>
      <div class="subHeading">Quantity</div>
      <div class="subHeading">Delete</div>
    </div>
    <div class="itemContainer">
      <div class="items">Rich Dad Poor Dad</div>
      <div class="items">2000</div>
      <div class="items">20</div>
      <div class="items">
        <mat-icon class="deleteButton" color="warn">delete</mat-icon>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" class="placeOrderButton">
    Place Order
    <mat-icon>send</mat-icon>
  </button>
</div>
