<div>
  <app-customer-nav></app-customer-nav>
</div>
<div #bookCartBody class="mainContainer">
  <div class="container">
    <div class="gridContainer">
      <div class="subHeading">Product Name</div>
      <div class="subHeading">Price</div>
      <div class="subHeading">Quantity</div>
      <div class="subHeading">Delete</div>
    </div>
    <div class="itemContainer" *ngFor="let product of cartDetails">
      <div class="items">{{product.productName}}</div>
      <div class="items">{{product.price}}</div>
      <div class="items">{{product.quantity}}</div>
      <div class="items">
        <mat-icon class="deleteButton" color="warn" (click)="deleteCartItem(product.id)">delete</mat-icon>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" class="placeOrderButton" (click)="placeOrder()">
    Place Order
    <mat-icon>send</mat-icon>
  </button>
</div>