<app-productlistnav></app-productlistnav>



<div class="mainContainer" style="margin-top: 3rem; margin-left: 6rem;">
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <img src="../../assets/productListImages/Screenshot1.png"
                                height="130px" width="100px">
                        </th>
                        <td>I AM WATCHING YOU</td>
                        <td>1565</td>
                        <td>1</td>
                        <td>
                            <i class="bi-pencil" style="margin-right: 20px;"></i> 
                            <i class="bi-trash"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="../../assets/productListImages/Screenshot2.png"
                                height="130px" width="100px">
                        </th>
                        <td>Automic Habits</td>
                        <td>995</td>
                        <td>1</td>
                        <td>
                            <i class="bi-pencil" style="margin-right: 20px;"></i> 
                            <i class="bi-trash"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="../../assets/productListImages/Screenshot3.png"
                            height="130px" width="100px">
                        </th>
                        <td>YOU CAN WIN</td>
                        <td>699</td>
                        <td>1</td>
                        <td>
                            <i class="bi-pencil" style="margin-right: 20px;"></i> 
                            <i class="bi-trash"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="../../assets/productListImages/pic4.jpg"
                            height="130px" width="100px">
                        </th>
                        <td>WINGS OF FIRE</td>
                        <td>1665</td>
                        <td>1</td>
                        <td>
                            <i class="bi-pencil" style="margin-right: 20px;"></i> 
                            <i class="bi-trash"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <img
                class="imageContainer" 
                src="../../assets/productListImages/Shopping.png"
                height="460px" 
                width="460px">
        </div>
    </div>
</div>
