<mat-toolbar
  #adminNavbar
  color="primary"
  class="mat-elevation-z6 navBarContainer"
>
  <div>
    <span class="title"><mat-icon>library_books</mat-icon>E-BOOK</span>
  </div>
  <div class="itemsContainer">
    <a routerLink="/admin/addProduct" mat-button class="home item" #addProductButton>Add Book</a>
    <a routerLink="../cart" mat-button class="home item" #adminProductButton>Product</a>
    <a routerLink="../orders" mat-button class="cart item" #adminOrderButton>Orders</a>
    <a (click)="logout()" mat-button color="warn" class="logout item" #logoutButton>Logout</a>
  </div>
</mat-toolbar>
