<div>
  <app-customer-nav></app-customer-nav>
</div>
<div class="gridContainer">
  <div class="productImageContainer">
    <img
      class="productImage"
      src="{{ product.imageUrl }}"
      alt="Product Image"
    />
  </div>
  <div>
    <div class="productDescription">
      <div class="topPortion">
        <div class="productName">{{ product.productName }}</div>
        <div class="productPrice">Rs /- {{ product.price }}</div>
        <div class="productContent">
          {{ product.description }}
        </div>
      </div>
      <div class="bottomPortion">
        <button
          mat-raised-button
          color="primary"
          class="addToCartButton"
          (click)="addToCart()"
        >
          Add to Cart
        </button>
        <button
          mat-raised-button
          color="warn"
          class="placeOrderButton"
          (click)="placeOrder()"
        >
          Place Order
        </button>
      </div>
    </div>
  </div>
</div>
