<div class="gridContainer">
  <div class="productImageContainer">
    <img
      class="productImage"
      src="../../assets/homeImages/E-Book-home.jpg"
      alt="Product Image"
    />
  </div>
  <div>
    <div class="productDescription">
      <div class="topPortion">
        <div class="productName">Product Name</div>
        <div class="productPrice">Price</div>
        <div class="productContent">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima rerum
          dignissimos, dolor, tempore velit eveniet vero maiores doloremque
          error earum, cumque asperiores ut praesentium officiis!Lorem, ipsum
          dolor sit amet consectetur adipisicing elit. Vero non distinctio
          dignissimos praesentium voluptate, earum enim officia reprehenderit
          ratione ullam.
        </div>
      </div>
      <div class="bottomPortion">
        <button mat-raised-button color="primary" class="addToCartButton">
          Add to Cart
        </button>
        <button mat-raised-button color="warn" class="placeOrderButton">
          Place Order
        </button>
      </div>
    </div>
  </div>
</div>

