<div class="mainContainer">
  <div #loginBox class="loginContainer">
    <div class="heading">LOGIN</div>
    <form #loginForm = "ngForm" (ngSubmit)="formSubmit()">
      <div>
        <mat-form-field appearance="outline" class="email">
          <mat-label>Email</mat-label>
          <input #email type="email" name="email" matInput required [(ngModel)]="user.email"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="password">
          <mat-label>Password</mat-label>
          <input #password type="password" name="password" placeholder="" matInput required [(ngModel)]="user.password"/>
        </mat-form-field>
      </div>
      <button
        #submitButton
        class="loginButton"
        mat-raised-button
        color="primary"
      >
        LOGIN
      </button>
      <p class="signupText">
        New to Bookstore?
        <a routerLink="signup" #signupLink class="signupLink">Click here</a>
      </p>
    </form>
  </div>
  <img
    class="imageContainer"
    src="../../assets/loginImages/E-Book-login.svg"
    alt="Login Image"
  />
</div>
